@use "sass:math";
// Основные цвета

// Подключение миксинов ===========================================================================================================================================================================================================================================================================

@import url(https://fonts.googleapis.com/css?family=Roboto+Flex:regular);
// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto Flex", Arial, sans-serif;

$fontSize: 18px; // где 14(px) - размер шрифта по умолчанию из макета
$mainColor: #102938;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1208px;

// Брейк-поинты
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 1024.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 429.98px;
// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================

body {
	background-color: #fff;
}
#root {
	z-index: 1111;
	position: relative;

	&._active > *:first-child {
		z-index: 999;
		position: relative;
		&::after,
		&::before {
			position: fixed;
			z-index: 999;
		}
		&::before {
			content: "";
			background-color: rgba(16, 41, 56, 0.9);
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0%;
			left: 0%;
		}
		&::after {
			content: "Отпустите файл для загрузки";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
			font-size: 34px;
			font-weight: 700;
		}
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
