@use "sass:math";
// Основные цвета

// Подключение миксинов ===========================================================================================================================================================================================================================================================================

@import url(https://fonts.googleapis.com/css?family=Roboto+Flex:regular);
// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto Flex", Arial, sans-serif;

$fontSize: 18px; // где 14(px) - размер шрифта по умолчанию из макета
$mainColor: var(--black);

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1208px;

// Брейк-поинты
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 1279.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 429.98px;
// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	background-color: var(--white);
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
}

@import "main";
